$mobile-end: 568px;
$tablet-end: 768px;
$laptop-end: 992px;

body {
  box-sizing: border-box;
  margin: 0;
}

div > header {
  height: 100px;
  background-color: #292B46;
  display: flex;
  align-content: center;
  justify-content: center;
}

.banner{
  background-image: url('../images/banner.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  min-height: 700px;

}
.header_container{
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1170px;
  width: 100%;

}

.primary-nav{
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  width: 500px;

}
.primary-nav > li > a{
  text-decoration: none;
}

.test{

  color: green;
  height: 200px;
  width: 200px;
  box-sizing: border-box;

}

@media screen and (max-width: $mobile-end) {
  .test{
    color: red;
  }
}

@media screen and (max-width: $mobile-end) {
  .test{
    font-size: 60px;
  }
}
